<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cs.ualberta.ca.medlog">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.StartScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.PatientLoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.StartScreenActivity" />
        </activity>
        <activity android:name=".activity.ProviderLoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.StartScreenActivity" />
        </activity>
        <activity android:name=".activity.PatientSignUpActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.PatientLoginActivity" />
        </activity>
        <activity android:name=".activity.ProviderRegistrationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ProviderLoginActivity" />
        </activity>
        <activity android:name=".activity.PatientMenuActivity" />
        <activity android:name=".activity.ProviderMenuActivity" />
        <activity android:name=".activity.PatientAddProblemActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.PatientMenuActivity" />
        </activity>
        <activity android:name=".activity.PatientViewProblemsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.PatientMenuActivity" />
        </activity>
        <activity android:name=".activity.PatientProblemViewActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.PatientViewProblemsActivity" />
        </activity>
        <activity android:name=".activity.PatientProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.PatientMenuActivity" />
        </activity>
        <activity android:name=".activity.PatientSearchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.PatientMenuActivity" />
        </activity>
        <activity android:name=".activity.PatientViewRecordsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.PatientProblemViewActivity" />
        </activity>
        <activity android:name=".activity.PatientAddRecordActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.PatientProblemViewActivity" />
        </activity>
        <activity android:name=".activity.ProviderAddPatientActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ProviderMenuActivity" />
        </activity>
        <activity android:name=".activity.ProviderViewPatientsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ProviderMenuActivity" />
        </activity>
        <activity android:name=".activity.PatientRecordViewActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.PatientViewRecordsActivity" />
        </activity>
        <activity android:name=".activity.ProviderSearchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ProviderMenuActivity" />
        </activity>
        <activity android:name=".activity.ProviderPatientProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ProviderViewPatientsActivity" />
        </activity>
        <activity android:name=".activity.ProviderProblemViewActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ProviderPatientViewProblemsActivity" />
        </activity>
        <activity android:name=".activity.ProviderPatientViewRecordsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ProviderProblemViewActivity" />
        </activity>
        <activity android:name=".activity.ProviderRecordViewActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ProviderPatientViewRecordsActivity" />
        </activity>
        <activity android:name=".activity.SlideshowActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ProviderProblemViewActivity" />
        </activity>
        <activity android:name=".activity.PatientAddMapLocationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.PatientAddRecordActivity" />
        </activity>
    </application>

</manifest>